.appHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333078;
    font-size: calc(10px + 2vmin);
    font-family: Avenir, Helvetica, Arial, sans-serif;
    height: 100px;
}