.button {
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.4em;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.counter-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.counter-content {
    flex: 1;
}

.footer {
    margin-top: auto;
}

.footer h6 {
    margin: 0;
}